@charset "utf-8";

.cabecalho-imagem {
  height: 100px;
  width: 100px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  background-color: rgba(128, 128, 128, 0.647);
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.banco{
  background-color: rgba(0, 0, 0, 0.51);
  margin: 30px ;
  font-weight: bolder;
  border: solid white; 
  border-width: medium;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 20px 20px 20px;
}

h1{
  color: black;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  text-align: center;
}

a{
  color: #fff;
}

body{
  background-color: black;
  background-image: url('3030.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.caixa{
    color: bisque;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 500px;
    align-items: center;
}
.button {
  display: inline-block;
  font-family:  'Shadows Into Light', cursive;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  align-items: center;
  font-size: 12px;
  padding: 12px 28px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.col {
  float: left;
  width: 30%;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
 }
 .price-box {
  background: black;
  color: #555;
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
 }
.price-box .header {
  background-color: #111;
  color: #FFFFFF;
  font-size: 25px;
 }      
 .price-box .header.header-green {
  background:rgb(74, 4, 4);
 }
 .price-box li {
  padding: 20px;
  border-bottom: 10px solid rgb(43, 42, 42);
  text-align: center;
 }
 .btn {
  background-color: rgb(74, 4, 4);
  border: none;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
 }

 form{
     background-color: rgba(51, 51, 51, 0.532);
     color: white;
     text-align: center;
 }
 input{
     background-color: #111;
     color: #fff;
     border-color: #555;
     border-style: solid;
     align-items: left;
     border-width: 3px;
     padding: 5px;
     border-radius: 8px;
     width: 90%;
     font-size: 15px;
 }

 label{
     color: #FFFFFF;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     align-items: left;
 }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .banco{
    background-color: rgba(0, 0, 0, 0.51);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
    border: solid white; 
    border-width: medium;
    text-align: left;
    color: white;
    margin-top: 20px;
    margin-right: 8px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 20px 30px;
  }
  p{
    text-align: center;
  }

  .imagem01{
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 5px;
    width: 300px;
    height: 300px;
  }

  .imagem02{
    margin: 8px 8px 10px 8px;
    width: 300px;
    height: 300px;
    border-radius: 15%;
  }

  p{
    text-align: center;
  }

  .pipi{
    background-color: rgba(0, 0, 0, 0.51);
    margin: 30px ;
    font-weight: bolder;
    border: solid white; 
    border-width: medium;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 20px 20px;
    
  }

     img {
      height: 240px;
      width: 320px;
     }
     .figure01 {
      width: 350px;
      padding: 5px;
      border: 3px solid black;
      background-color: rgba(245, 222, 179, 0.75);
      margin: 15px 50px 30px 20px;
     }
     .figure02 {
      width: 350px;
      padding: 5px;
      border: 3px solid black;
      background-color: rgba(245, 222, 179, 0.75);
      margin: 15px 30px 30px 20px;
     }

     .figure03 {
      width: 350px;
      padding: 5px;
      border: 3px solid black;
      background-color: rgba(245, 222, 179, 0.75);
      margin: 15px 30px 30px 30px;
     }


     figcaption {
      text-align: center;
      font-family: Papyrus, fantasy;
      color: black;
      padding: 20px;
     }
     .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 1em;
      justify-items: stretch;
      align-items: stretch;
     }

     footer{
       border: solid gray;
       background-color: rgba(0, 0, 0, 0.491);
       color: white;
       margin: 25px 300px 25px 300px;
     }
     